@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Wellfleet', cursive;
    background-color:silver;
}
.center_div{
    width: 900px;
    height: 600px;
    
    margin-top: 200px;
    margin: auto;
   
}
            
            
.heading{
    padding: 40px 20px;
}
.input_Box{
    display: grid;
    place-items: center;
    margin-bottom: 20px;
    
}
#nameid{
    background-color: #fff;
    padding: 10px 30px;
}
.img_box{
    padding: 10px 0;
    display: grid;
    place-items: center;
}
.btn{
    display: grid;
    place-items: center;
    margin: auto;
    padding: 40px 0;
}
#btn{
    width: 150px;
    padding: 10px 30px ;
    background-color: yellow;
}
::placeholder{
    color: rgb(22, 122, 89);
}

@media (max-width: 600px) {
    .center_div{
        width: 400px;
        height: 400px;
        
        margin-top: 100px;
        margin: auto;
       
    } 
   
  }